<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:sxi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  internalLogLevel="Info"
	  internalLogFile="C:\temp\internal-nlog.txt">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<targets>
		<target sxi:type="File" name="exceptions" fileName="C:\Users\Kewin\source\repos\ShopAPI\ShopAPI\Logger\nlog-all-exceptions-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}} | ${logger}|${message} ${exception:format=toString}"/>

		<target sxi:type="File" name="allFile" fileName="C:\Users\Kewin\source\repos\ShopAPI\ShopAPI\Logger\nlog-all-${shortdate}.log"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}} | ${logger}|${message} ${exception:format=toString}"/>

		<target sxi:type="File" name="request-time" fileName="C:\Users\Kewin\source\repos\ShopAPI\ShopAPI\Logger\request-time.log"
						layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}} | ${logger}|${message} ${exception:format=toString}"/>

	</targets>


	<rules>
		<loger name="*" minLevel="Trace" writeTo="allfile"/>
		<loger name="ShopAPI.*" minLevel="Error" writeTo="exceptions"/>
		<loger name="ShopAPI.Middleware.RequestTimeMIddleware" minLevel="Trace" writeTo="request-time"/>
	</rules>
</nlog>